.options {
  width: 150px;
  &__section {
    margin-bottom: 10px;
  }
  &__button-area {
    text-align: center;
  }
  &__button {
    border-radius: 3px;
    border: none;
    color: white;
    width: 50px;
    cursor: pointer;
    &--save {
      background: orange;
    }
    &--add {
      background: purple;
    }
    &:hover {
      opacity: 80%;
    }
  }
}

.filters {
  margin-top: 20px;
  &__button-area {
    text-align: center;
    width: 150px;
  }
  &__list {
    margin-left: -26px;
  }
}
