.history {
  list-style-type: none;
  padding: 0 0 0 10px;
  width: 200px;
  &__items {
    padding-top: 3px;
    &--link {
      text-decoration: none;
      &:hover {
        opacity: 70%;
      }
    }
    &--favicon {
      width: 12px;
      height: 12px;
      vertical-align: middle;
      margin: 0 2px 2px 0;
    }
  }
}
